/* === Drawer === */
#drawer-layout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--drawer-width);
    height: 100%;
    background: #fafafa;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    z-index: 3000;
}

#drawer-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2000;
}

.drawer-header {
	width: var(--drawer-width);
	height: 150px;
	background: var(--color-accent);
	background-image: url("../img/drawer-header.png");
	background-size: 100%;
}

.drawer-items .item {
	color: #333;
	font-size: 12pt;
	margin-top: 10px;
	
}
/*
.drawer-items .item:hover {
	background: #ddd;
}
*/
.drawer-items .item .icon {
	margin: 10px 20px;
	padding: 7px;
	font-size: 13pt;
	color: #fff;
	background: #4B0082;
	border-radius: 10%;
}

.drawer-items .item .name {
	color: #222;
	margin-left: 15px;
	font-weight: bold;
}

/* === ANIMATION === */
.dLayoutOpen {
    animation: var(--drawer-timing) dLayoutOpen;
}

.dLayoutClose {
    animation: var(--drawer-timing) dLayoutClose;
}

.dOverlayOpen {
    animation: var(--drawer-timing) dOverlayOpen;
}

.dOverlayClose {
    animation: var(--drawer-timing) dOverlayClose;
}

@keyframes dLayoutOpen {
    from {
        margin-left: -300px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes dLayoutClose {
    form {
        margin-left: 0;
    }

    to {
        margin-left: -300px;
    }
}

@keyframes dOverlayOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dOverlayClose {
    form {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}